@using Asp_task4.ViewModels.Account
@model AccountForgetPasswordVM

@{
    Layout = "_Layout";
}

<form method="post" asp-action="ForgetPassword" asp-controller="Account" class="login100-form validate-form">
    <span class="login100-form-title">
        Forget Password
    </span>
    <div asp-validation-summary="All"></div>

    <div class="wrap-input100 validate-input">
        <input asp-for="Email" class="input100" placeholder="Email" type="email">
        <span asp-validation-for="Email"></span>
        <span class="focus-input100"></span>
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Send 
        </button>
    </div>

    <div class="text-center p-t-136">
        <a asp-action="Login" asp-controller="Account" class="txt2">
            Back to Login
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
        </a>
    </div>
</form>
